name: Get YouTube Live m3u8
on:
  schedule:
    - cron: '0 0/3 * * *'
  pull_request:
    branches:
      - main

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: config
        run: |
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"

      - name: Install yt-dlp
        run: |
          sudo curl -L https://github.com/yt-dlp/yt-dlp/releases/latest/download/yt-dlp -o /usr/local/bin/yt-dlp
          sudo chmod a+rx /usr/local/bin/yt-dlp

      - name: Get CNN-News18.m3u8
        run: |
          touch ../tvbox_free/youtube/CNN-News18.m3u8
          sudo cat >../tvbox_free/youtube/CNN-News18.m3u8 <<EOL
          #EXTM3U
          #EXT-X-VERSION:3
          #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=2560000
          $(yt-dlp --print urls https://www.youtube.com/@cnnnews18/live)
          EOL

      - name: git add
        run: |
          git add -A
          ls -la

      - name: commit & push
        run: |
          git commit -m "links are updated"
          git push
